body {
    background-color: rgb(30, 30, 30);
}

.header-index {
    background-color: rgb(70, 70, 70);
    border-color: rgb(92, 92, 217);
    border-width: 3px;
    border-style: solid;
    padding: 20px;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 20px;
    align-items: center;
    justify-content: center;
    display: flex;
    gap: 10px;
    border-radius: 5px;
}

.header-index-buttons{
    background-color: rgb(70, 70, 70);
    font-family: 'Arial', sans-serif;
    width: 120px;
    height: 25px;
    color: white;
    border: 2px solid rgb(92, 92, 217);
    border-radius: 5px;
}

.index-title {
   text-align: center;
    color: white;
    font-family:'Times New Roman', Times, serif;
    font-size: 48px;
}