body {
    background-color: rgb(240, 240, 240);
    margin:0;
    padding:0;
}

.header-index {
    background-color: rgb(240, 240, 240);
    border-color: rgb(210, 210, 210);
    border-width: 1px;
    border-style: solid;
    display: flex;
    gap: 0px;
    border-radius: 0px;
}

.home-index-button {
    background-color: rgb(240, 240, 240);
    width: 120px;
    height: 25px;
    color: black;
    border: 1px solid rgb(210, 210, 210);
    border-radius: 0px;
}

.header-index-buttons{
    background-color: rgb(200, 200, 200);
    width: 120px;
    height: 25px;
    color: black;
    border: 1px solid rgb(180, 180, 180);
    border-radius: 0px;
}

.index-title {
   text-align: center;
    color: black;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 48px;
}

.index-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(210, 210, 210);
    border-radius: 2px;
}

.index-description {
    text-align: center;
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
    margin: 20px;
}