body {
    background-color: rgb(240, 240, 240);
    margin:0;
    padding:0;
}

.header-index {
    background-color: rgb(240, 240, 240);
    border-color: rgb(210, 210, 210);
    border-width: 1px;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-style: solid;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: fit-content;
    gap: 0px;
    border-radius: 1px;
}

.home-index-button {
    background-color: rgb(240, 240, 240);
    width: 120px;
    height: 25px;
    color: black;
    border: 1px solid rgb(210, 210, 210);
    border-radius: 1px;
}

.header-index-buttons{
    background-color: rgb(200, 200, 200);
    width: 120px;
    height: 25px;
    color: black;
    border: 1px solid rgb(180, 180, 180);
    border-radius: 0px;
}

.border-body{
    border-width: 1px;
    border-style: solid;
    border-radius: 1px;
    border-color: rgb(210, 210, 210);
}

.title {
   text-align: center;
    color: black;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 48px;
}

.index-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(210, 210, 210);
    border-radius: 2px;
}

.description {
    text-align: center;
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
    margin: 20px;
}

.footer {
    text-align: center;
    color: gray;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
    margin: 20px;
}

/* about page styles */
.about-home-button {
    background-color: rgb(240, 240, 240);
    width: 120px;
    height: 25px;
    color: black;
    border: 1px solid rgb(210, 210, 210);
    border-radius: 0px;
}